@page
@model ProjetoGPS_Site.Pages.TestemunhoModel
@{
    ViewData["Title"] = "Testemunhos";
	ViewData["HeaderDescription"] = "Queres ler opiniões de colegas de BrightStart? Vê abaixo!";
}

<div>
	<!-- Content section 1 -->
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="~/img/joao.png" />
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">@Html.Raw(Model.t1n)</h2>
					<p class="paragraphs">@Html.Raw(Model.t1d)</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 2 -->
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="~/img/jorge.png" />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="p-5">
					<h2 class="display-4">@Html.Raw(Model.t2n)</h2>
					<p class="paragraphs">@Html.Raw(Model.t2d)</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Content section 3 -->
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="~/img/archie.png" />
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">@Html.Raw(Model.t3n)</h2>
					<p class="paragraphs">@Html.Raw(Model.t3d)</p>
				</div>
			</div>
		</div>
	</div>
</div>
